//main: main.scss
.test {
  border: 1px solid red
}

h4.stat-title {
  font-size: 12px !important;

  @media screen and (max-width: 767px) {
    font-size: 15px !important;
  }
}

.stat-text {
  font-size: 16px !important;
}

.stat-title {

  padding-top: 50px;
  margin-left: 0px;

  @media screen and (max-width: 767px) {
    padding-top: 30px;
  }
}

.standard-page-title {
  padding-left: 0px;
}

.standard-page-wrapper {
  margin-top: 20px;

  .title-section {
    @media only screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  h4 {
    letter-spacing: 1px;
    font-size: 15px;
    @media screen and (max-width: 767px) {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }
}

.standard-page-content {

  p {
    font-size: 20px;
    line-height: 30px;
    @media screen and (max-width: 767px) {
      line-height: 25px;
    }
  }

  &.section-details {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.section-services {
    .col-md-6 {
      padding-bottom: 15px;

      @media screen and (max-width: 767px) {
        margin-top: 10px;
        padding-bottom: 0px;
      }
    }

    .service-links {
      text-transform: none;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .more {
    & > .row {

      .col-8 {
        @media screen and (max-width: 767px) {
          line-height: 22px;
          font-size: 16px;
        }
        .icon-arrow-right {
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
      }
      .col-4 {
        margin-top: 10px;
        padding-left: 0;
        .icon-arrow-right {
          font-size: 14px !important;
          font-weight: 600;
        }
        @media screen and (min-width: 767px) {
          display: none;
        }
      }
    }
  }

  .row {
    &.information-links {
      text-transform: none;
      font-size: 18px;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 20px;

      @media screen and (max-width: 767px) {
        margin-top: 12px;
        margin-bottom: 15px;
      }

      .col-9 {
        line-height: 10px;
        @media screen and (max-width: 990px) {
          line-height: 25px;
          font-size: 16px;
        }
      }
    }

    .icon-arrow-right-rounded {
      float: right;

      &.single-line {
        @media screen and (max-width: 767px) {
          margin-bottom: 18px;
        }
      }

      @media screen and (max-width: 768px) {
        margin-top: 15px;
      }

      @media screen and (max-width: 767px) {
        margin-top: 20px;
      }
    }

    &.list-rounded {

      margin-top: 15px;

      @media screen and (max-width: 767px) {
        margin-top: 20px;
        margin-bottom: 0px;
      }

      p {
        font-size: 16px;
        line-height: 26px;
        @media screen and (max-width: 767px) {
          font-size: 17px !important;
          line-height: 25px;
        }
      }

      .rounded-number {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 12px;
        font-size: 16px;
        font-weight: 300;
        line-height: 15px;
        text-align: center;
        border-radius: 50%;
        transition: .2s ease-in-out;
        margin-left: 0px;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 40px;
          height: 40px;
          border: 1px solid $primary_color;
          border-radius: 50%;

        }

      }

      h4 {
        font-size: 12px;
        @media screen and (max-width: 767px) {
          font-size: 15px;
          line-height: 10px;
        }
      }

      .title-number {
        display: inline-block;
        margin-left: 25px;
        padding-bottom: 15px;

        @media screen and (max-width: 767px) {

          margin-bottom: 0px;
          margin-top: 10px;
          margin-left: 15px;
        }
        @media screen and (max-width: 1199px) and (min-width: 769px) {
          margin-bottom: 0px;
          margin-top: 10px;
          margin-left: 0px;
        }
      }

      .standard-page-inner-content {

        padding-top: 10px;
        padding-bottom: 200px;

        @media screen and (max-width: 767px) {
          padding-bottom: 50px;
        }
      }
    }

    .col-md-3 {
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }

    .col-md-7 {
      margin-top: 10px;
      p {
        float: right;
        color: $primary_color;

        @media screen and (max-width: 767px) {
          margin-bottom: 0px;
          font-size: 14px;
        }
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 0px;
      }
    }
  }
}

.routing-standard-page {

  margin-top: 15px;
  .show-on-mobile {
    border: 0.5px solid rgba(29, 55, 86, 0.5);
  }

  .links-infos {
    float: right;

    @media screen and (max-width: 767px) {
      float: left;
      margin-bottom: 15px;
    }

    .btn-login {

      border: 1px solid $primary_color;
      margin-left: 40px;
      text-transform: uppercase;
      font-size: 13px !important;
      padding: 9px 15px 6px 6px;

      @media screen and (max-width: 767px) {
        margin-left: 0px;
      }

      &:hover {
        border: 1px solid $secondary_color;
      }

      .icon-locked {
        margin-right: 8px;
        font-size: 20px;
      }
    }

    .links {

      & > a {
        text-transform: none;
        font-size: 14px;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 25px;
        display: block;
      }
    }
  }

  h6 {
    font-weight: 400;
    color: $primary_color;
    font-size: 30px;
  }

}

#wealth-management {

  .bg-custom-light {
    padding-bottom: 15px;
  }
  .row {
    &.standard-page-wrapper {
      margin-top: 30px;
      @media screen and (max-width: 767px) {
        margin-top: 20px;
      }
    }
  }
}

#sc-bank {
  .row {
    &.standard-page-wrapper {
      @media screen and (max-width: 767px) {
        margin-top: 0px;

        .title-section {
          h4 {
            @media screen and (max-width: 767px) {
              margin-bottom: 0px;
            }
          }
        }
      }

      .standard-page-content {

        hr {
          margin-top: 5px;
        }
      }
    }
  }
}




