//main: main.scss
.test {
  border: 1px solid red
}

.stat-title {
  padding-top: 50px;
  margin-left: 0px;

  @media screen and (max-width: 767px) {
    padding-top: 30px;
  }
}

.standard-page-title {
  padding-left: 0px;
}

.standard-page-wrapper {
  margin-top: 20px;

  h4 {
    letter-spacing: 1px;
    font-size: 15px;
    @media screen and (max-width: 767px) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}

.standard-page-content {

  &.section-details{
    padding-top: 10px;
    padding-bottom: 10px;
  }



  .more {
    & > .row {
      .col-8 {
        .icon-arrow-right {
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
      }
      .col-4 {
        margin-top: 10px;
        padding-left: 0;
        @media screen and (min-width: 767px) {
          display: none;
        }
      }
    }
  }

  .row {
    &.list-rounded {

      margin-top: 50px;
      margin-bottom: 20px;

      @media screen and (max-width: 767px) {
        margin-top: 35px;
        margin-bottom: 0px;
      }

      .rounded-number {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 12px;
        font-size: 16px;
        font-weight: 300;
        line-height: 15px;
        text-align: center;
        border-radius: 50%;
        transition: .2s ease-in-out;
        margin-left: 0px;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 40px;
          height: 40px;
          border: 1px solid $primary_color;
          border-radius: 50%;
        }
      }

      h4 {
        font-size: 12px;
      }

      .title-number {
        display: inline-block;
        margin-left: 25px;
        padding-bottom: 15px;

        @media screen and (max-width: 767px) {
          margin-bottom: 0px;
          margin-top: 10px;
          margin-left: 15px;
        }
        @media screen and (max-width: 1199px) and (min-width: 769px) {
          margin-bottom: 0px;
          margin-top: 10px;
          margin-left: 0px;
        }
      }

      .standard-page-inner-content {
        padding-top: 10px;
        padding-bottom: 200px;

        @media screen and (max-width: 767px) {
          padding-bottom: 50px;
        }
      }
    }

    .col-md-3 {
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }

    .col-md-7 {
      margin-top: 10px;
      p {
        float: right;
        color: $primary_color;

        @media screen and (max-width: 767px) {
          margin-bottom: 0px;
          font-size: 14px;
        }
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 0px;
      }
    }

    .service-links{
      text-transform: none;
      font-size: 16px;
      font-weight: 500;
    }

    .section-services {
      .col-md-6 {
        @media screen and (max-width: 767px) {
          padding-top: 20px;
          margin-bottom: 8px;
        }
      }
    }

  }
}




.routing-standard-page {

  margin-top: 50px;
  .show-on-mobile {
    border: 0.5px solid rgba(29, 55, 86, 0.5);
  }

  .links-infos {
    float: right;

    @media screen and (max-width: 767px) {
      float: left;
      margin-bottom: 15px;
    }

    .btn-login {
      border: 1px solid $primary_color;
      padding: 12px 15px 8px 10px;
      margin-left: 40px;
      text-transform: uppercase;

      &:hover {
        border: 1px solid $secondary_color;
      }

      @media screen and (max-width: 767px) {
        margin-left: 0px;
      }
    }

    .links {

      & > a {
        text-transform: none;
        font-size: 14px;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 25px;
        display: block;
      }
    }

    .icon-locked {
      margin-right: 10px;
      font-size: 22px;
      margin-top: 2px;
    }
  }

  h6 {
    font-weight: 400;
    color: $primary_color;
    font-size: 30px;
  }

}

