//main: main.scss

$primary_color: #1D3756;
$secondary_color: #608ABD;
$dark_color: #4A4A4A;
$light_color: #efefef;

$logo_blue: url("./img/logo-ci-blue.svg");
$logo_light: url("./img/logo.png");

$font_text: "Sofia Pro", sans-serif;
$font_title: "Noe Display", normal;